<div class="card">
    <div class="card-header">
      <h4>List of Studentss</h4>
    </div>
    <div class="card-body">
     

        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>empId</th>
                <th>empName</th>
                
        
                <th>Total Present Days</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees; let index = index">
                <td>{{index + 1}}</td>
                <td>{{employee['empName']}} </td>
                
                <td>{{employee['totalDayPresent']}}</td>
              
                
              </tr>
            </tbody>
          
      </table>
    </div>
  </div> 






 