<div class="form">
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="Email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="Password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <button (click)="onLogin()" class="btn btn-success">Login</button>
      
    </div>
  </div>