
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin Panel</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
       <li class="nav-item"><a routerLink="/signin" class="nav-link">Signin</a></li> 
       <li class="nav-item"><a routerLink="/meeting" class="nav-link">Meeting Details</a></li>
       <li class="nav-item"><a routerLink="/employee-details" class="nav-link">Employee Details</a></li>
       <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li> 
      
     </ul>
  </div>

</nav> 



<div class="container" style="margin-top: 20px;">
  
  <router-outlet></router-outlet>
</div> 