<div class="card">
    <div class="card-header">
      <h4>Meeting Details</h4>
    </div>
    <div class="card-body">
     

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>meetingId</th>
            <th>meetingDate</th>
            
            <th>meetingInfo</th>
            <th>meetingStatus</th>
            <th>adminId</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meeting of meetings; let index = index">
            <td>{{index + 1}}</td>
            <td>{{meeting['meetingDate']}}</td>
            <td>{{meeting['meetingInfo']}}</td>
            <td>{{meeting['meetingStatus']}}</td>
            <td>{{meeting['adminId']}}</td>
          
            
          </tr>
        </tbody>
      </table>
    </div>
  </div> 






 